@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


.mentions {
    @apply my-4;
}

.mentions--multiLine .mentions__control {
    @apply text-sm rounded-md;
}

.mentions--multiLine .mentions__highlighter {
    @apply border border-transparent outline-0 rounded-md p-3 h-24;/* this padding must match the padding below */
}

.mentions--multiLine .mentions__input {
    @apply border border-gray-200 outline-0 rounded-md p-3; /* this padding must match the padding above */
}

.mentions__suggestions__list {
    @apply relative border border-gray-900/20 bg-white text-sm rounded-md overflow-hidden;
    /* background-color: #ddd;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 10pt; */
}

.mentions__suggestions__item {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
    @apply bg-primary-600 text-white;
}

.mentions__mention {
    @apply relative z-10 text-primary-700 underline; 
}